<div class="contenedor-franjas">
  <div class="franja-azul">
    <div class="puntos-blancos">
      <span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span>
    </div>
  </div>

  <div class="franja-blanca">
    <div class="contenido-franja">
      <img src="img/logo_alesa.png" alt="Logo Alesa" class="logo-alesa">
      <h1 class="texto-asociacion">ASOCIACIÓN DE PRODUCCIÓN TEXTIL EMPRENDEDORES ALESA</h1>
    </div>
  </div>

  <div class="franja-naranja">
    <div class="cinta-naranja"></div>
    <img src="img/maquina.jpg" alt="Máquina de coser industrial" class="imagen-maquina">
    <div class="cinta-naranja"></div>
  </div>
</div>