<section class="quienes-somos">
        <div class="contenedor">
        <h2 class="titulo-seccion">¿Quiénes somos?</h2>
        <div class="contenido">
          <div class="cuadro-texto">
            <div class="imagen-cuadro">
              <img src="img/lista.png" alt="Icono lista">
            </div>
            <p class="texto-cuadro">
              ALESA es una organización textil en Ecuador que opera bajo principios de Economía Popular y Solidaria. 
              Se especializa en la manufactura de prendas para dotaciones empresariales y productos promocionales, 
              con 15 años de experiencia, destacándose como referente en el sector.
            </p>
          </div>
          
          <div class="cuadro-texto">
            <div class="imagen-cuadro">
              <img src="img/callif.jpg" alt="Icono calidad">
            </div>
            <p class="texto-cuadro">
              ALESA se enfoca en satisfacer las necesidades de los clientes mediante soluciones creativas y 
              personalizadas en vestimenta y promoción de marca. Colaboramos estrechamente para entender sus 
              visiones y metas, adaptando nuestros productos y servicios para lograr el éxito conjunto.
            </p>
          </div>
        </div>
      </div>
      
      <div class="logo-central-derecho">
        <img src="img/logo_alesa.png" alt="Logo ALESA">
      </div>
      
      <div class="franja-azul-derecha"></div>
</section>

<section class="lineamientos">
  <div class="imagen-superior">
        <img src="./img/fondo_lineamientos.png" alt="Persona cosiendo" class="img-coser">
      </div>
      
      <div class="contenedor-principal">

        <div class="logo-alesa">
          <img src="img/logo_alesa.png" alt="Logo ALESA">
        </div>
        <div class="contenido-lineamientos">
          <div class="titulo-lineamientos">
            <h1>LINEAMIENTOS</h1>
          </div>
          <div class="bloque-info">
            <div class="icono">
              <img src="./img/mision.png" alt="Icono misión">
            </div>
            <div class="texto">
              <h2>MISIÓN</h2>
              <p>
                Fabricamos dotaciones textiles empresariales personalizadas que se adaptan a las necesidades de 
                nuestros clientes, garantizando su utilidad, comodidad y conford con buenas prácticas de manufactura.
              </p>
            </div>
          </div>
          <div class="bloque-info">
            <div class="icono">
              <img src="./img/icono_vision.png" alt="Icono visión">
            </div>
            <div class="texto">
              <h2>VISIÓN</h2>
              <p>
                Ser una asociación líder en el mercado de la industria textil a nivel provincial, estableciendo 
                relaciones sólidas con nuestros proveedores y socios, brindando un excelente servicio al cliente: 
                contribuyendo al desarrollo económico y social de la provincia en la que operamos, generando empleo, 
                promoviendo la equidad y bienestar colectivo.
              </p>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="objetivo-general-section">
  <div class="objetivo-container">
    <div class="objetivo-content">
      <div class="objetivo-texto">
        <h2 class="objetivo-titulo">OBJETIVO GENERAL</h2>
        <div class="objetivo-parrafo">
          <p>Lograr un crecimiento sostenible empresarial ingresando a nuevos mercados geográficos, tanto a nivel nacional como internacional, para ampliar la base de clientes y aprovechar nuevas oportunidades de negocio, fomentando el crecimiento de la asociación, mediante la implementación de estrategias efectivas para obtener mejores resultados, promoviendo la inclusión y el desarrollo sostenible de la economía popular y solidaria en el sector textil.</p>
        </div>
      </div>
      <div class="objetivo-imagen">
        <img src="img/objetivoG.png" alt="Objetivo General ALESA">
      </div>
    </div>
  </div>
</section>

<section class="objetivos-especificos">
  <div class="contenedor-objetivos">
        <div class="columna-texto">
          <div class="titulo-cuadro-azul">
            <h1 class="titulo-objetivos">OBJETIVOS ESPECÍFICOS</h1>
          </div>
          <div class="cuadro-objetivos">
            <div class="objetivo">
              <h3>OBJETIVO 1</h3>
              <p>Garantizar que los productos finales sean duraderos y cumplan las expectativas del cliente.</p>
            </div>
            
            <div class="objetivo">
              <h3>OBJETIVO 2</h3>
              <p>Fomentar la inclusión económica y social de grupos vulnerables y comunidades locales al tiempo que se promueve un modelo de negocio responsable y ético.</p>
            </div>
            
            <div class="objetivo">
              <h3>OBJETIVO 3</h3>
              <p>Impulsar la producción responsable de la cadena de suministros textil a través de la integración de emprendimientos de la economía popular y solidaria, generando un impacto social positivo y promoviendo prácticas responsables en toda la industria textil.</p>
            </div>
            
            <div class="objetivo">
              <h3>OBJETIVO 4</h3>
              <p>Incrementar las compras internacionales de productos textiles en la compañía "Alesa" mediante la mejora de los materiales de alta calidad, con el fin de superar las expectativas de los clientes, implementando estrategias para mejorar las ventas en el mercado.</p>
            </div>
          </div>
        </div>
        
        <div class="columna-imagen">
          <div class="imagen-objetivos">
            <img src="img/objetivos.png" alt="Imagen objetivos" class="img-objetivos">
            <div class="logo-centro">
              <img src="img/logo_alesa.png" alt="Logo ALESA">
            </div>
          </div>
        </div>
      </div>
</section>

<section class="propuesta-valor-section">
  <div class="propuesta-container">
    <div class="propuesta-header">
      <h2 class="propuesta-titulo">PROPUESTA DE VALOR</h2>
    </div>
    
    <div class="propuesta-content">
      <div class="propuesta-texto">
        <p>La propuesta de valor de la empresa de producción textil Alesa se basa en la creación de productos textiles de alto nivel y calidad, con diseño excepcional, utilizando materiales respetuosos con el medio ambiente y prácticas respetuosas. La empresa busca destacar a través de la innovación en textiles y la colaboración con artesanos locales, fomentando así la comunidad y el empoderamiento femenino.</p>
      </div>
      
      <div class="propuesta-imagen">
        <img src="img/propuesta.png" alt="Propuesta de Valor ALESA">
      </div>
    </div>
  </div>
</section>